.picture-recipe-book {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h5.startpage {
    text-align: center;
}

div.startpage {
    margin-top: 100px;
    margin-bottom: 100px;
}
